{% load staticfiles %} 
<!DOCTYPE html> 

<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>My first column chart by Highcharts</title>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

        <script src="http://code.highcharts.com/highcharts.js"></script>
        <script src="http://code.highcharts.com/highcharts-more.js"></script>
        <script src="http://code.highcharts.com/highcharts-3d.js"></script>
        <script src="http://code.highcharts.com/modules/funnel.js"></script>
        <script src="http://code.highcharts.com/modules/heatmap.js"></script>
        <script src="http://code.highcharts.com/modules/treemap.js"></script>
         <script src="http://code.highcharts.com/modules/exporting.js"></script>
        
        <link rel="stylesheet" type="text/css" href="{% static 'graphs/css/bootstrap.css' %}"/>
         <link rel="stylesheet" type="text/css" href="{% static 'graphs/css/reset.css' %}"/>

        <link rel="stylesheet" type="text/css" href="{% static 'graphs/css/style.css' %}"/>


      



                
    </head>

<body>

{% block content %}{% endblock %}

        
    <script type="text/javascript" src="{% static 'graphs/js/bootstrap.js'%}"/></script>

     
</body>


</html>
