{% extends "access/base.html"%} 
{% block content%}
<div class="signup-header">
    <span><h1>Login</h1></span>
    <p>Welcome to Login Page!</p>
</div>
  <div class="container">
     <div class="col-md-4"></div>
            <div class="col-md-4"> 

               <form class="form-horizontal login form" role="form" id="login_form" method="POST" action="/access/login/">
                {% csrf_token %}
{{form.errors}}
                <h3>Welcome Back</h3>
                    <div class="form-group"> 
                        
                            <div class="col-sm-12 login-username">
                                <i class="fa fa-user"></i>
                            <input name="email" type="text" class="form-control" id="email" placeholder="Enter email">
                            
                            </div>
                    </div>        
                    <div class="form-group"> 
                          <div class="col-sm-12 login-password"> 
                                <i class="fa fa-unlock"></i>         
                            <input  name="password"  type="password" class="form-control" id="pwd" placeholder="Enter password">
                          
                          </div>
                    </div>      
                                             <div class="form-group">        
                                              <div class=" col-sm-12">
                                               <button type="submit" class="btn btn-success btn-block" >login</button>
                                              </div>
                                            </div>
                                            <p>Not a member yet ?<a href="/access/signup/">Signup</a></p>
                </form>
            </div>
     <div class="col-md-4"></div>
   </div> 


   <div id="footer">
            <div class="container">
                <div class="">                              
                    <div class="footer-copy">
                        © 2015 Nadeem Aslam. All rights reserved.                
                     </div>
                </div>
            </div>
</div>    
   {% endblock %} 