{% extends "access/base.html"%} 

{% block content %}
{{form.errors}}

<div class="signup-header">
    <span><h1>Sign Up</h1></span>
    <p>Welcome to Sign Up Page!</p>
</div>
 <div class="row">
 <div class="col-md-3"></div>
 <div class="col-md-6">
     <br>
     
    <form class="form-horizontal form" role="form"  method="post" action="/access/signup/">
    <!-- Text input-->
    {% csrf_token %}


    <div class="form-group">
    <label class="col-sm-2 control-label" for="textinput">Firstname</label>
    <div class="col-sm-10">
        {{ form.first_name}}
    </div>
    </div>


    <div class="form-group">
    <label class="col-sm-2 control-label" for="textinput">Lastname</label>
    <div class="col-sm-10">
        {{ form.last_name}}
    </div>
    </div>
    
    <div class="form-group">
    <label class="col-sm-2 control-label" for="textinput">Email</label>
    <div class="col-sm-10">
        {{ form.email}}
        {{form.errors}}
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-2 control-label" for="textinput">Password</label>
    <div class="col-sm-10">
        {{ form.password}}
    </div>
    </div>
      <div class="form-group">
    <label class="col-sm-2 control-label" for="textinput">Confirm Password </label>
    <div class="col-sm-10">
        {{ form.password_confirm}}
    </div>
    </div>

    <div class="form-group">
    <label class="col-sm-2 control-label" for="textinput">User Type</label>
    <div class="col-sm-10">
        {{form.user_type}}
    </div>
    </div>


    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <div class="pull-right">
            
        <button type="submit" class="btn btn-primary">Save</button>
            <a href="javascript:window.history.back()"  class="btn btn-default">Cancel</a>
        </div>
    </div>
    </div>
    </form>
</div>
<div class="col-md-3"></div>
</div>

<div id="footer">
            <div class="container">
                <div class="">                              
                    <div class="footer-copy">
                        © 2015 Nadeem Aslam. All rights reserved.                
                     </div>
                </div>
            </div>
</div>
{% endblock %}        

