{% extends "access/base.html"%} 
   {% block content %}
        <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                        <a class="navbar-brand logo" href="#">
                            {%if request.user.userprofile.user_type == 'A'%}
                            <h3>Admin DashBoard</h3>
                            {% else %}
                            <h3>Customer View</h3>
                            {% endif %}
                        </a>
                    </div>
            <div class="collapse navbar-collapse">
                <div id="menu-container">
                    <div id="#" class="#">
                                
                    <ul class="nav navbar-nav pull-right">
                    



                    {% if user.is_authenticated %}
                    <li><a href="#">Welcome |{{request.user.username}}  </a></li>
                    <li><a href="{% url 'user_edit'  %}">Edit Profile</a></li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                    <li class=""><a href="{% url 'account_login' %}">Login</a></li>
                    <li class=""><a href="/access/signup/">Signup</a></li>
                    {% endif %}
                    
                    
                    </ul>

                                <div class="clearfix"></div>
                            </div>
                            
                           
            </div>
        </div>
    </div>
</nav>


        
            <div class="chart-tabs">
                <div class="container">

                        <ul class="nav nav-pills chart-list">
                          <li class="active"><a data-toggle="pill" href="#home">spline</a></li>
                          {%if request.user.userprofile.user_type == 'A'%}
                          <li><a data-toggle="pill" href="#menu1">Column</a></li>
                          <li><a data-toggle="pill" href="#menu2">Area</a></li>
                          <li><a data-toggle="pill" href="#menu7">scatter</a></li>
                          <li><a data-toggle="pill" href="#menu3">Bar</a></li>
                          <li><a data-toggle="pill" href="#menu4">Line</a></li>
                          <li><a data-toggle="pill" href="#menu5">Pie</a></li>
                          {% endif %}
                         {%if request.user.userprofile.user_type == 'C'%}

                          <li><a data-toggle="pill" href="#menu6">Polar</a></li>
                          <li><a data-toggle="pill" href="#menu7">scatter</a></li>
                          <li><a data-toggle="pill" href="#menu8">Waterfall</a></li>
                          <li><a data-toggle="pill" href="#menu9">Gauges</a></li>
                          <li><a data-toggle="pill" href="#menu10">3d</a></li>
                          <li><a data-toggle="pill" href="#menu11">combo</a></li>
                           {% endif%}

                          


                        </ul>
                </div>
            </div>

            <div class="container  chart-div">
              
                <div class="tab-content col-md-12">
            
                
                
                  <div id="home" class="tab-pane fade in active"> 
                    <div class="col-md-3"></div>
                    

                    <div class="col-md-6"id="container1" style="padding:10px 10px;margin:0 auto "></div>
                    
                    <div class="col-md-3"></div>

                  </div>
      <div id="menu1" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" id="container2" style="padding:10px 10px; margin: 0 auto"></div>
                    <div class="col-md-3"></div>
                  </div>

                  <div id="menu2" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container3" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>

                  <div id="menu3" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container4" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>

                  <div id="menu4" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container5" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>

                   <div id="menu5" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container6" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>


                  <div id="menu6" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container7" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>

                   <div id="menu7" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container8" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>

                  <div id="menu8" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container9" style="padding:10px 10px; margin: 0 auto"></div> 
                   
                    <div class="col-md-3"></div>
                  </div>


                  <div id="menu9" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container10" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>


                  <div id="menu10" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container11" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>

                   <div id="menu11" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container12" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>



                </div>
                
            </div>
    


        <!--footer -->
<div id="footer">
            <div class="container">
                <div class="">                              
                    <div class="footer-copy">
                        © 2015 Nadeem Aslam. All rights reserved.                
                     </div>
                </div>
            </div>
</div>
       


        
        
        
        
        
        <script type="text/javascript">
 $(function () { 
    $('#container1').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Sale Details per month'
        },
        xAxis: {
            categories: ['jan', 'feb', 'march','april','may']
        },
        yAxis: {
            title: {
                text: 'Sale Per Month'
            }
        },
        series: [{
            name: null,
            data: {{result_sale}}
        },
        {
            name: null,
            data: [10,8,88]
        }
        ]
    });
});
   $(function () { 
    $('#container4').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Sale Details per month'
        },
        xAxis: {
            categories: ['jan', 'feb', 'march','april','may']
        },
        yAxis: {
            title: {
                text: 'Fruit eaten'
            }
        },
        series: [{
            name: null,
            data: {{result_sale}}
        },
        {
            name: null,
            data: [10,8,88]
        }
        ]
    });
});

 ////////
  $(function () { 
    $('#container2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Sale Details per month'
        },
        xAxis: {
            categories: ['jan', 'feb', 'march','april','may']
        },
        yAxis: {
            title: {
                text: 'Sale Per Month'
            }
        },
        series: [{
            name: null,
            data: {{result_sale}}
        },
        {
            name: null,
            data: [10,8,88]
        }
        ]
    });
});

  

$(function () { 
    $('#container3').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Sale Details per month'
        },
        xAxis: {
            categories: ['jan', 'feb', 'march','april','may']
        },
        yAxis: {
            title: {
                text: 'Sale Per Month'
            }
        },
        series: [{
            name: null,
            data: {{result_sale}}
        },
        {
            name: null,
            data: [10,8,88]
        }
        ]
    });
});

$(function () { 
    $('#container5').highcharts({
        chart: {
            type: 'line',
        },
        title: {
            text: 'Sales Details per month'
        },
        xAxis: {
            categories: ['jan', 'feb', 'march','april','may']
        },
        yAxis: {
            title: {
                text: 'Sale Per Month'
            }
        },
        series: [{
            name: null,
            data: {{result_sale}}
        },
        {
            name: null,
            data: [100,800,808]
        }
        ]
    });
});

//pie chart
$(function () {
    $('#container6').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Sale Details per month'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "SALE",
            colorByPoint: true,
            data: [{{dic.july}},{{dic.aug}},{{dic.sep}}]
        }]
    });
});

// polar chart

$(function () {

    window.chart = new Highcharts.Chart({
                
        chart: {
            renderTo: 'container7',
            polar: true,
            type: 'area'
        },
        
        title: {
            text: 'Budget vs spending',
            x: -80
        },
        
        pane: {
            size: '80%'
        },
        
        xAxis: {
            categories: ['Sales', 'Marketing', 'Development', 'Customer Support', 
                    'Information Technology', 'Administration'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },
            
        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },
        
        tooltip: {
            shared: true,
            valuePrefix: '$'
        },
        
        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 100,
            layout: 'vertical'
        },
        
        series: [{
            name: 'Allocated Budget',
            data: {{result_sale}},
            pointPlacement: 'on'
        }, {
            name: 'Actual Spending',
            data: [5000, 3900, 4200, 3100, 2600, 1400],
            pointPlacement: 'on'
        }]
    
    });
});

// scattered chart
$(function () {
    $('#container8').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Height Versus Weight of 507 Individuals by Gender'
        },
        subtitle: {
            text: 'Source:Applied'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Height (cm)'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Weight (kg)'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} cm, {point.y} kg'
                }
            }
        },
        series: [{
            name: 'Female',
            color: 'rgba(223, 83, 83, .5)',
            data: {{result_sale}}

        }, {
            name: 'Male',
            color: 'rgba(119, 152, 191, .5)',
            data: [[1740, 656], [1753, 718], [1935, 807],[1872, 788]]
                
                
        }]
    });
});

//waterfall chart
// $(function () {
//     $('#container9').highcharts({
//         chart: {
//             type: 'waterfall'
//         },

//         title: {
//             text: 'Highcharts Waterfall'
//         },

//         xAxis: {
//             type: 'category'
//         },

//         yAxis: {
//             title: {
//                 text: 'USD'
//             }
//         },

//         legend: {
//             enabled: false
//         },

//         tooltip: {
//             pointFormat: '<b>${point.y:,.2f}</b> USD'
//         },

//         series: [{
//             upColor: Highcharts.getOptions().colors[2],
//             color: Highcharts.getOptions().colors[3],
//             data: [{{dic.july}},{{dic.aug}},{{dic.sep}},{{dic.april}},{{dic.may}}
//                , {
//                 name: 'Balance',
//                 isSum: true,
//                 color: Highcharts.getOptions().colors[1]
//             }],
//             dataLabels: {
//                 enabled: true,
//                 formatter: function () {
//                     return Highcharts.numberFormat(this.y / 1000, 0, ',') + 'k';
//                 },
//                 style: {
//                     color: '#FFFFFF',
//                     fontWeight: 'bold',
//                     textShadow: '0px 0px 3px black'
//                 }
//             },
//             pointPadding: 0
//         }]
//     });
// });


$(function () {
    $('#container9').highcharts({
        chart: {
            type: 'waterfall'
        },

        title: {
            text: 'Highcharts Waterfall'
        },

        xAxis: {
            type: 'category'
        },

        yAxis: {
            title: {
                text: 'USD'
            }
        },

        legend: {
            enabled: false
        },

        tooltip: {
            pointFormat: '<b>${point.y:,.2f}</b> USD'
        },

        series: [{
            upColor: Highcharts.getOptions().colors[2],
            color: Highcharts.getOptions().colors[3],
            data: [{
                name: 'Start',
                y: 120000
            }, {
                name: 'Product Revenue',
                y: 569000
            }, {
                name: 'Service Revenue',
                y: 231000
            }, {
                name: 'Positive Balance',
                isIntermediateSum: true,
                color: Highcharts.getOptions().colors[1]
            }, {
                name: 'Fixed Costs',
                y: -342000
            }, {
                name: 'Variable Costs',
                y: -233000
            }, {
                name: 'Balance',
                isSum: true,
                color: Highcharts.getOptions().colors[1]
            }],
            dataLabels: {
                enabled: true,
                formatter: function () {
                    return Highcharts.numberFormat(this.y / 1000, 0, ',') + 'k';
                },
                style: {
                    color: '#FFFFFF',
                    fontWeight: 'bold',
                    textShadow: '0px 0px 3px black'
                }
            },
            pointPadding: 0
        }]
    });
});




///gauges

$(function () {
    $('#container10').highcharts({

        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },

        title: {
            text: 'Speedometer'
        },

        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 1,
                outerRadius: '107%'
            }, {
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%'
            }]
        },

        // the value axis
        yAxis: {
            min: 0,
            max: 200,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: 'km/h'
            },
            plotBands: [{
                from: 0,
                to: 120,
                color: '#55BF3B' // green
            }, {
                from: 120,
                to: 160,
                color: '#DDDF0D' // yellow
            }, {
                from: 160,
                to: 200,
                color: '#DF5353' // red
            }]
        },

        series: [{
            name: 'Speed',
            data: {{result_sale}},
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]

    },
        // Add some life
        function (chart) {
            if (!chart.renderer.forExport) {
                setInterval(function () {
                    var point = chart.series[0].points[0],
                        newVal,
                        inc = Math.round((Math.random() - 0.5) * 20);

                    newVal = point.y + inc;
                    if (newVal < 0 || newVal > 200) {
                        newVal = point.y - inc;
                    }

                    point.update(newVal);

                }, 3000);
            }
        });
});
//3d
$(function () {
    $('#container11').highcharts({
        chart: {
            type: 'column',
            margin: 75,
            options3d: {
                enabled: true,
                alpha: 15,
                beta: 15,
                depth: 50
            }
        },
        plotOptions: {
            column: {
                depth: 25
            }
        },
        series: [{
            data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4]
        }]
    });
});

//combination chart

$(function () {
    $('#container12').highcharts({
        title: {
            text: 'Combination chart'
        },
        xAxis: {
            categories: ['Apples', 'Oranges', 'Pears', 'Bananas', 'Plums']
        },
        labels: {
            items: [{
                html: 'Total fruit consumption',
                style: {
                    left: '50px',
                    top: '18px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{
            type: 'column',
            name: 'Jane',
            data: {{result_sale}}
        },{
            type: 'spline',
            name: 'Average',
            data: {{result_sale}},
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[3],
                fillColor: 'black'
            }
        }, {
            type: 'pie',
            name: 'Total consumption',
            data: {{result_sale}},
            center: [70, 50],
            size: 80,
            showInLegend: false,
            dataLabels: {
                enabled: false
            }
        }]
    });
});



        </script>

        
       
{%endblock%}
