{% extends "access/base.html"%} 
   {% block content %}
        <nav class="navbar navbar-default" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <a class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                        </a>
                        <a class="navbar-brand logo" href="#">
                            {%if request.user.userprofile.user_type == 'A'%}
                            <h3>Admin DashBoard</h3>
                            {% else %}
                            <h3>Customer View</h3>
                            {% endif %}
                        </a>
                    </div>
            <div class="collapse navbar-collapse">
                <div id="menu-container">
                    <div id="#" class="mini-header">
                                
                    <ul class="nav navbar-nav pull-right">
                    



                    {% if user.is_authenticated %}
                    <li><a href="#">Welcome |{{request.user.username}}  </a></li>
                    <li><a href="{% url 'user_edit'  %}">Edit Profile</a></li>
                    <li><a href="{% url 'account_logout' %}">Logout</a></li>
                    {% else %}
                    <li class=""><a href="{% url 'account_login' %}">Login</a></li>
                    <li class=""><a href="/access/signup/">Signup</a></li>
                    {% endif %}
                    
                    
                    </ul>

                                <div class="clearfix"></div>
                            </div>
                            
                           
            </div>
        </div>
    </div>
</nav>


        
            <div class="chart-tabs">
                <div class="container">

                        <ul class="nav nav-pills chart-list">
                            {%if request.user.userprofile.user_type == 'A'%}
                          <li ><a data-toggle="pill" href="#home">spline</a></li>
                          <li><a data-toggle="pill" href="#menu1">Column</a></li>
                          <li><a data-toggle="pill" href="#menu2">Area</a></li>
                          <li><a data-toggle="pill" href="#menu3">Bar</a></li>
                          <li><a data-toggle="pill" href="#menu4">Line</a></li>
                          
                          {% endif %}
                         {%if request.user.userprofile.user_type == 'C'%}
                          <li><a data-toggle="pill" href="#menu5">Pie</a></li>
                          <li><a data-toggle="pill" href="#menu6">Polar</a></li>
                          <li><a data-toggle="pill" href="#menu11">combo</a></li>
                           {% endif%}

                          


                        </ul>
                </div>
            </div>

            <div class="container  chart-div">
              
                <div class="tab-content col-md-12">
            
                
                
                  <div id="home" class="tab-pane fade in active"> 
                    <div class="col-md-3"></div>
                    

                    <div class="col-md-6"id="container1" style="padding:10px 10px;margin:0 auto "></div>
                    
                    <div class="col-md-3"></div>

                  </div>
      <div id="menu1" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6" id="container2" style="padding:10px 10px; margin: 0 auto"></div>
                    <div class="col-md-3"></div>
                  </div>

                  <div id="menu2" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container3" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>

                  <div id="menu3" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container4" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>

                  <div id="menu4" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container5" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>

                   <div id="menu5" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container6" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>


                  <div id="menu6" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container7" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>

                   
                   <div id="menu11" class="tab-pane fade">
                    <div class="col-md-3"></div>
                    <div class="col-md-6"  id="container12" style="padding:10px 10px; margin: 0 auto"></div> 
                    <div class="col-md-3"></div>
                  </div>



                </div>
                
            </div>
    


        <!--footer -->
<div id="footer">
            <div class="container">
                <div class="">                              
                    <div class="footer-copy">
                        © 2015 Nadeem Aslam. All rights reserved.                
                     </div>
                </div>
            </div>
</div>
       


        
        
        
      
        
<script type="text/javascript">
  // javascript for High Charts 

 $(function () { 
    $('#container1').highcharts({
        chart: {
            type: 'spline'
        },
        title: {
            text: 'Sale Details per month'
        },
        xAxis: {
            categories: ['jan', 'feb', 'march','april','may']
        },
        yAxis: {
            title: {
                text: 'Sale Per Month'
            }
        },
        series: [{
            name: null,
            data: {{result_sale}}
        },
        ]
    });
});

 // Bar chart//
   $(function () { 
    $('#container4').highcharts({
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Sale Details per month'
        },
        xAxis: {
            categories: ['jan', 'feb', 'march','april','may']
        },
        yAxis: {
            title: {
                text: 'Sale Achieved'
            }
        },
        series: [{
            name: null,
            data: {{result_sale}}
        },
        ]
    });
});

 // column chart//

  $(function () { 
    $('#container2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Sale Details per month'
        },
        xAxis: {
            categories: ['jan', 'feb', 'march','april','may']
        },
        yAxis: {
            title: {
                text: 'Sale Per Month'
            }
        },
        series: [{
            name: null,
            data: {{result_sale}}
        },
        ]
    });
});

  
 // Area chart//
$(function () { 
    $('#container3').highcharts({
        chart: {
            type: 'area'
        },
        title: {
            text: 'Sale Details per month'
        },
        xAxis: {
            categories: ['jan', 'feb', 'march','april','may']
        },
        yAxis: {
            title: {
                text: 'Sale Per Month'
            }
        },
        series: [{
            name: null,
            data: {{result_sale}}
        },
        ]
    });
});


 // Line chart//
$(function () { 
    $('#container5').highcharts({
        chart: {
            type: 'line',
        },
        title: {
            text: 'Sales Details per month'
        },
        xAxis: {
            categories: ['jan', 'feb', 'march','april','may']
        },
        yAxis: {
            title: {
                text: 'Sale Per Month'
            }
        },
        series: [{
            name: null,
            data: {{result_sale}}
        },
        ]
    });
});

//pie chart
$(function () {
    $('#container6').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Sale Details per month'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{series.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: "SALE",
            colorByPoint: true,
            data: [{{dic.july}},{{dic.aug}},{{dic.sep}}]
        }]
    });
});

// polar chart

$(function () {

    window.chart = new Highcharts.Chart({
                
        chart: {
            renderTo: 'container7',
            polar: true,
            type: 'area'
        },
        
        title: {
            text: 'Sales Achieved per month',
            x: -80
        },
        
        pane: {
            size: '80%'
        },
        
        xAxis: {
            categories: ['Sales'],
            tickmarkPlacement: 'on',
            lineWidth: 0
        },
            
        yAxis: {
            gridLineInterpolation: 'polygon',
            lineWidth: 0,
            min: 0
        },
        
        tooltip: {
            shared: true,
            valuePrefix: ''
        },
        
        legend: {
            align: 'right',
            verticalAlign: 'top',
            y: 100,
            layout: 'vertical'
        },
        
        series: [{
            name: 'Sale Achieved',
            data: {{result_sale}},
            pointPlacement: 'on'
        }]
    
    });
});




///gauges

$(function () {
    $('#container10').highcharts({

        chart: {
            type: 'gauge',
            plotBackgroundColor: null,
            plotBackgroundImage: null,
            plotBorderWidth: 0,
            plotShadow: false
        },

        title: {
            text: 'Speedometer'
        },

        pane: {
            startAngle: -150,
            endAngle: 150,
            background: [{
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#FFF'],
                        [1, '#333']
                    ]
                },
                borderWidth: 0,
                outerRadius: '109%'
            }, {
                backgroundColor: {
                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1 },
                    stops: [
                        [0, '#333'],
                        [1, '#FFF']
                    ]
                },
                borderWidth: 1,
                outerRadius: '107%'
            }, {
                // default background
            }, {
                backgroundColor: '#DDD',
                borderWidth: 0,
                outerRadius: '105%',
                innerRadius: '103%'
            }]
        },

        // the value axis
        yAxis: {
            min: 0,
            max: 200,

            minorTickInterval: 'auto',
            minorTickWidth: 1,
            minorTickLength: 10,
            minorTickPosition: 'inside',
            minorTickColor: '#666',

            tickPixelInterval: 30,
            tickWidth: 2,
            tickPosition: 'inside',
            tickLength: 10,
            tickColor: '#666',
            labels: {
                step: 2,
                rotation: 'auto'
            },
            title: {
                text: 'km/h'
            },
            plotBands: [{
                from: 0,
                to: 120,
                color: '#55BF3B' // green
            }, {
                from: 120,
                to: 160,
                color: '#DDDF0D' // yellow
            }, {
                from: 160,
                to: 200,
                color: '#DF5353' // red
            }]
        },

        series: [{
            name: 'Speed',
            data: {{result_sale}},
            tooltip: {
                valueSuffix: ' km/h'
            }
        }]

    },
        // Add some life
        function (chart) {
            if (!chart.renderer.forExport) {
                setInterval(function () {
                    var point = chart.series[0].points[0],
                        newVal,
                        inc = Math.round((Math.random() - 0.5) * 20);

                    newVal = point.y + inc;
                    if (newVal < 0 || newVal > 200) {
                        newVal = point.y - inc;
                    }

                    point.update(newVal);

                }, 3000);
            }
        });
});


//combination chart

$(function () {
    $('#container12').highcharts({
        title: {
            text: 'Combination chart'
        },
        xAxis: {
            categories: ['june','july', 'August']
        },
        labels: {
            items: [{
                html: '',
                style: {
                    left: '200px',
                    top: '10px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        series: [{
            type: 'column',
            name: 'sales',
            data: {{result_sale}}
        },{
            type: 'spline',
            name: 'Average',
            data: {{result_sale}},
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[3],
                fillColor: 'black'
            }
        }, {
            type: 'pie',
            name: 'Total consumption',
            data: {{result_sale}},
            center: [70, 25],
            size: 80,
            showInLegend: false,
            dataLabels: {
                enabled: false
            }
        }]
    });
});



        </script>

        
       
{%endblock%}
